version: '2'
services:
  web:
    build: .
    volumes:
      - ./app:/app
    links:
      - mongodb
    ports:
      - "5000:5000"
    command: python3 /app/app.py
    environment:
      - MONGO_HOST=mongodb
      - CORS=True
  mongodb:
    image: mongo:3.4
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
