version: '2'
services:
  web:
    build: .
    links:
      - mongodb
    ports:
      - "5000:5000"
    environment:
      - MONGO_HOST=mongodb
      - CORS=True
      - USER_AUTH=test
      - PWD_AUTH=test
  mongodb:
    image: mongo:3.4
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
