alabaster==0.7.10
Babel==2.4.0
click==6.7
coverage==4.3.4
docutils==0.13.1
Flask==0.12
Flask-PyMongo==0.4.1
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
numpy==1.12.0
Pygments==2.2.0
pymongo==3.4.0
pytz==2017.2
requests==2.13.0
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.5.5
sphinxcontrib-httpdomain==1.5.0
Werkzeug==0.11.15
