Babel==2.4.0
Flask==0.12
Flask-BasicAuth==0.2.0
Flask-PyMongo==0.4.1
MarkupSafe==0.23
Pygments==2.2.0
Sphinx==1.5.5
Werkzeug==0.11.15
alabaster==0.7.10
click==6.7
coverage==4.3.4
docutils==0.13.1
flask-cors==3.0.2
gevent==1.2.1
gunicorn==19.7.1
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.5
numpy==1.12.0
pymongo==3.4.0
pytz==2017.2
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
sphinxcontrib-httpdomain==1.5.0
